table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    overflow-x:auto;
}

.kop {
    background-color: #FFA559;
    color: rgb(61, 59, 59);
}

.hari {
    background-color: #454545;
    color: white;
}

.data:nth-child(odd) {background-color: #FFE6C7;}
th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #070000;
}

td:hover {
    background-color: #FF6000;
    color: aliceblue;
}