

/* universal selector */
* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

/* conatainer */
.container {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 }
 
/* style the body */
body {
   font-family: Arial;
   padding: 10px;
   background: #f9b384;
}

/* Header /Blog title */
.header { 
   padding: 30px;
   text-align: center;
   background: #ed6663;
   color: #ffffff;
}

.header h1 {
   font-size: 50px;
   color: #f7c59f;
}

/* style the top navigation bar */
.topnav {
   overflow: hidden;
   background-color: #c06c84 ;

}

/* style the top nav links */
.topnav a {
   float: left;
   display: block;
   color: #ffffff;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* change color on hover */
.topnav a:hover {
   background-color: #f9b384;
   color: #ffffff;
}

ul {
   list-style: disc;
   margin: 0;
   padding: 10px;
   width: 100%;
   background-color: #f7c59f;
}

li a {
   display: block;
   color: #000000;
   padding: 8px 16px;
   text-decoration: none;
}

/* change the link color on hover */
li a:hover {
   background-color: #ff9b9d;
   color: #ffffff;
}

/* main */
.main {
   margin-left: 10px;
   margin-right: 10px;
}

.main li {
   font-weight: bold;
}

p {
   text-indent: 2em;
 }
/* create to unequal columns that floats next to each other */
/* left columns */
.leftcolumn {
   float: left;
   width: 25%;
   padding-right: 10px;
}

/* middlecolumn  */
.middlecolumn {
   float: left;
   width: 50%;
}

/* right columns */
.rightcolumn{
   float: right;
   width: 25%;
   padding-left: 20px;
   background-color: #f9b384;
   align-content: center;

}

/* fake image */

.fakeimg {
   background-color: #ff9b9d;
   width: 848x;
   height: 450px;
   padding: 10px;
}

/* image hero */
.fakeimg img {
   width: 100%;
   height: 100%;
}

/* foto */
.foto {
   background-color: #ff9b9d;
   width: 200px;
   height: 200px;
   padding: 10px;
   margin: 0 auto; /* Menengahkan gambar */
 }
 
 .foto img {
   width: 100%;
   height: 100%;
   object-fit: cover; /* Menjaga proporsi aspek gambar */
 }
 
/* add a card effect for articles */
.card {
   background-color: #f7c59f;
   padding: 20px;
   margin-top: 20px;
}

/* clear floats after the columns */
.row:after {
   content: "";
   display: table;
   clear: both;
}

/* footer */
.footer {
   padding: 20px;
   text-align: center;
   background: #c06c84;
   margin-top: 20px;
}

/* Image Gallery */
div.gallery {
   margin: 10px 10px 10px 10px;
   border: 1px solid #ffb347;
   float: left;
   width: 180px;
}

div.gallery:hover {
   border: 1px solid #ff9b9d; 
}

div.gallery img {
   width: 200px;
   height: 200px;
}

div.desc{
   padding: 20px;
   text-align: center;
}

/* style class kotak */
.kotak {
   width: 100%;
   padding: 10px;
   border: 5px solid #ed6663;
   border-style: dashed;
   border-color: rgb(216, 38, 38);
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}

/* Responsif layout - when the screen is less 800px wide, make
   the two colunn stack on top of each other instead of 
   next to each other
*/

@media screen and (max-widht: 800px) {
   .leftcolumn .rightcolumn .kotak {
      width: 100%;
      padding: 0;
   }
   
}

/* Responsif layout - when the screen is less 800px wide, make
   the two colunn stack on top of each other instead of 
   next to each other
*/
@media screen and (max-widht: 400px) {
   .topnav a {
      float: none;
      width: 100px;
   }   
}

.list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   font-size: large;
 }

 /* Style untuk icon Font Awesome */
 .fa {
   font-size: 1.5em;
   margin-right: 10px;
 }
 /* Style untuk masing-masing icon */
 .fa-facebook {
   color: #3b5998;
   margin-right: 10px;
 }
 .fa-twitter {
   color: #1da1f2;
   margin-right: 10px;
 }
 .fa-instagram {
   color: #c13584;
   margin-right: 10px;
 }
 .fa-linkedin {
   color: #0077b5;
   margin-right: 10px;
 }